<%= link_to "Send tweets", new_tweet_url %>
<%= link_to "New product", new_product_url %>
<ul>

<% @products.each do |product| %>
    <h3><%= product.name %>
  </h3>
  <ul>
    <li> Desc: <%= product.description %>  </li>
    <li> Price: <%= product.price %>  </li>
</ul>
<% end %>

</ul>
