<%= link_to "Publish products", syndicates_url, { method: :post } %>
<%= link_to "New product", new_product_url %>
<ul>

<% @products.each do |product| %>
    <h3><%= product.name %>
  </h3>
  <ul>
    <li> Desc: <%= product.description %>  </li>
    <li> Url: <a href='<%= product.url %>'> link </a> </li>
    <li> Price: <%= product.price %>  </li>
    <li> Published: <%= product.published %> </li>
</ul>
<% end %>

</ul>
