<!DOCTYPE html>
<html>
<head>
  <title>Syndicater</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <% if logged_in? %>
    <h3> Logged in as: <%= current_user.email %> </h3>
    <%= link_to "Log out", new_session_path, method: "delete" %>

  <% end %>
  <% if flash.any? %>
    <% flash.each do |type, message| %>
    <%= message %>
    <% end %>
  <% end %>
</div>
<%= yield %>

</body>
</html>
